<div class="banner blink" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lecran.club/sites/default/files/hl5d5tgmtndjk4sbhzxyh4giokr.jpg);">
  <div class="container">
    <h1 class="blink">EXPLOSIVE COCKTAILS</h1>
    <p class="blink" >Because drinking is a matter of style.</p>
    <!-- <a class="btn btn-success" href="#">Add a cocktail</a> -->
    <%= button_to "Add a new cocktail", new_cocktail_path,
      :class => "btn btn-success", :method => :get %>
  </div>
</div>

