<%= render 'components/banner' %>

<div class="container m">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-sm-12 col-md-4 mt-3">
  <%= render 'components/card', cocktail: cocktail %>
    </div>
    <% end %>
  </div>
</div>
