.banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: aquamarine;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.blink h1 {
  color:white;
  animation: colorblink 0.15s infinite;
}
@keyframes colorblink {
0% { }
50% { color:orange; }
}

.animoDepthButton{display:inline-block;height:40px;line-height:40px;padding:0 14px;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);background:mediumaquamarine;border-radius:4px;transition:all .3s ease}
.animoDepthButton:hover{cursor:pointer;color:aquamarine;transform:translateY(-1px);box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)}


